.idea/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### macOS Patch ###
*.icloud

k8s/attendance/attendance-secret.yaml
k8s/core-bank/corebank-secret.yaml
k8s/user/user-secret.yaml
k8s/api-gw/api-gw-secret.yaml